@using CodingEventsDemo.Models;
@model List<Event>;




<h1>Coding Events</h1>

<a asp-controller="Events" asp-action="Add">Add event</a>
<br />
<a asp-controller="Events" asp-action="Delete">Delete event</a>
<br />

@if (Model.Count == 0)
{
    <p>There is nothing here </p>
}
else
{
    <h2>UPCOMING EVENTS</h2>
    <table style="width:100%" class="table-dark">
        <tr>
            <th>Event Id</th>
            <th>Event Name</th>
            <th>Event Description</th>
            <th>Location</th>
            <th>Number of Attending</th>
            <th>Contact Email</th>

        </tr>

        @foreach (var evt in Model)
        {
    <tr>
        <td>@evt.Id</td>
        <td>@evt.Name</td>
        <td>@evt.Description</td>
        <td>@evt.Location</td>
        <td>@evt.Attending</td>
        <td>@evt.ContactEmail</td>
        <td><a asp-controller="Events" asp-action="Edit" asp-route-id="@evt.Id" class="btn btn-danger">Edit</a></td>
    </tr>
        }

    </table>
}
